@media screen and (orientation: landscape) {
    .cl img {
      height: 100vh;
    }
  }

  /* Rent Out Section*/

/* Media query for screens with a maximum width of 768px */
/*@media (max-width: 768px) {
  .container .image-row {
      flex-direction: column; 
      align-items: center;
  }

  .container .image-row img {
      max-width: 100%; 
      width: auto; 
  }
}


@media (min-width: 1200px) {
  .container  .image-row img {
      
      width: auto;
  }
}*/


  
/*The second carousel css*/

  /* the same attribute */
  .cr1{
    color: var(--cr1);
  }
  .c2{
    color:  var(--cr2);
  }
  .cr3{
    color:  var(--cr3);
  }
  .cr4{
    color:  var(--cr4);
  }
  .cr5{
    color:  var(--cr5);
  }
  .fs1{
    font-size: 34px;
  }
  .fs2{
    font-size: 24px;
  }
  .fs3{
    font-size: 20px;
  }
  .fs4{
    font-size: 16px;
  }
  .fs5{
    font-size: 14px;
  }
  /* end the same attribute */
  @font-face {
    src: url(ProductSansRegular_0.ttf);
    font-family: product;
  }
  *{padding: 0px;margin: 0px;box-sizing: border-box;font-family: segoe ui}
  body,html{width:100%;height:100%;}
  [class*="container"]{
    max-width: 1170px !important;
  }
  
  .bg-product{
    /* SET Height cho nó rồi bảo sao ko lỗi? */
    /*height: 446px;*/
    background: #d1d7f5;
    /* overflow: hidden; */
  }
  #sliderproduct{
    width: 100%;
  }
  #sliderproduct .carousel-inner {
    overflow: visible;
  }
  
  #sliderproduct .col-sm-6.image {
    background: #fff;
    box-shadow: 0px 4px 8px 0px #959595;
    position: relative;
    /* Thêm cái của nợ này vào bảo sao nó ko tràn bờ đê */
    /*top: -44px;
    padding: 100px;
    padding-top: 40px;*/
  }
  .item {
    padding: 20px 20px 40px 20px;
  }
  
  .col-sm-6.image .item img.img-fluid {
    /* Ai mướn thêm cái vào làm phá bố cục css của người ta.. mún trang web đẹp thì phải lựa cái ảnh đẹp đẹp vào rồi set cái độ rộng cho nó vừa là được rồi */
    /*min-width: 100%;*/
    width: 315px;
  }
  .col-sm-6.image h1 {
    margin-bottom: 20px;
  }
  
  
  #sliderproduct .top a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 14px 22px;
    background: #e0794f;
    box-sizing: border-box !important;
    text-align: center;
    margin: 0px 2px;
    display: block;
    color: #fff;
    width: 96px;
  }
  
  #sliderproduct .col-sm-4.mr-auto {
    margin-top: 22px;
  }

  #sliderproduct p.cr1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  #sliderproduct .col-sm-6:last-child {
    /* Cần nâng cao thêm kiến thức về sử dụng padding */
    padding-top: 27px;
    padding-bottom: 27px;
  }
  #sliderproduct .details p.d-inline-block {
    color: #e0794f;
  }
  
  #sliderproduct .details .fa {
    color: #e0794f;
    padding: 0px 3px;
  }
  
  #sliderproduct .rating {
    margin: 23px 0px;
  }
  
  #sliderproduct .details .btn {
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 22px;
    background: #e0794f;
    color: #fff;
    border-radius: 81px;
    font-size: 14px;
    display: inline-block;
  }
  
  #sliderproduct .details h2 {
    margin: 25px 0px 30px 0px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #sliderproduct .details p.cr4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  #sliderproduct .carousel-item{
    transition: 0.4s;
  }
  
  
  #sliderproduct a.carousel-control-prev, #sliderproduct a.carousel-control-next {
    border-radius: 50%;
    background-color: brown;
    width: 46px;
    height: 46px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-60%);
  }
  
  .bg {
    height: 570px;
    overflow: hidden;
  }
  
  #sliderproduct ol.carousel-indicators {
    display: none;
  }
  

  /*FOOTER***/

  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*testimonial 2*/
.single-review {
    -webkit-box-shadow: 0 0.313rem 0.875rem var(--secondary-l-color);
            box-shadow: 0 0.313rem 0.875rem var(--secondary-l-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-review .card-top {
    position: relative;
  }
  
  .single-review .quot-icon {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  
  .single-review .reviewer {
    position: relative;
  }
  
  .single-review .reviewer::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: #fff;
    bottom: calc(100% - 10px);
    left: 15%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .single-review:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
            box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
  }
  

  /*navbar*/
  .navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  
}
.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-nav .nav-link {
  color: #000;
}
@media screen and (min-width: 1024px) {
  .navbar {
    letter-spacing: 0.1em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
  .search-and-icons {
    width: 50%;
  }
  .search-and-icons form {
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 7em;
  }
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons {
    display: flex;
    align-items: center;
  }
}
.search-and-icons form input {
  border-radius: 0;
  height: 2em;
  background: #fff
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E")
    no-repeat 95%;
}
.search-and-icons form input:focus {
  background: #fff;
  box-shadow: none;
}
.search-and-icons .user-icons div {
  padding-right: 1em;
}
.contact-info p,
.contact-info a {
  font-size: 0.9em;
  padding-right: 1em;
  color: grey;
}
.contact-info a {
  padding-right: 0;
}


.team-grid .item .box {
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100px;
  position:relative;
  overflow:hidden;
}

