.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
 
    align-items: center;
    justify-content: center;
    background-color: bisque;  
    

}

form{
    position: relative;
    width: 300px;
}

h3{
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

form label{
position: relative;
display: block;

}

form input{
    margin:10px 0;
    width: 100%;
    background: #292929;
    color:#fff;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    outline: none;
}

.emailText, .passText {
    font-weight: 300;
    font-style: italic;
    padding:5px;

}

label.valid .emailText, 
label.valid .passText{
    color: #00f000;

}

label.invalid .emailText, 
label.invalid .passText{
    color: #f00;

}

label.valid::before,
label.invalid::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top:18px;
    right:5px;
    z-index: 100;

}

label.valid::before{
    background: url(check.svg)no-repeat center /cover;
}

label.invalid::before{
    background: url(error.png)no-repeat center /cover;
}

.submitbtn{
    color: white;
    background-color: black;
    padding: 10px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}